{% extends "main/base.html" %}
{% block title %}{% endblock %}
{% block content %}
<style>
  .custom {
    width: -webkit-fill-available;
  }

  .card {
    width: 18rem;
  }

  .nav-link.active {
    color: #495057;
    background-color: #7fffd4;
    border-color: #dee2e6 #dee2e6 #7fffd4;
  }

  .tab-content {
    height: 75vh;
    background-color: aquamarine;
    border: 1px solid #ff3366;
  }

  .tab-pane {
    padding-top: 10px;
  }





</style>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="category-tab" data-bs-toggle="tab" href="#category" role="tab"
         aria-controls="category"
         aria-selected="true">Category</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="color-tab" data-bs-toggle="tab" href="#color" role="tab" aria-controls="color"
         aria-selected="false">Color</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="style-tab" data-bs-toggle="tab" href="#style" role="tab" aria-controls="style"
         aria-selected="false">Style</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="category" role="tabpanel" aria-labelledby="category-tab">
      {% include "masters/category.html" %}
    </div>
    <div class="tab-pane fade" id="color" role="tabpanel" aria-labelledby="color-tab">
      <div class="container">
        <div class="row">Color Master</div>
      </div>
    </div>
    <div class="tab-pane fade" id="style" role="tabpanel" aria-labelledby="style-tab">
      <div class="container">
        <div class="row">Style Master</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}